Cheatsheet_BA_Visualizacion_Seaborn.pdf
01_Notebooks/13_BusinessAnalytics_V_Visualizacion_III_Seaborn.ipynb
01_Notebooks/15_BusinessAnalytics_V_Visualizacion_III_Seaborn_Ejercicios_Soluciones.ipynb
01_Notebooks/14_BusinessAnalytics_V_Visualizacion_III_Seaborn_Ejercicios.ipynb
18_VISUALIZACION/01_MATPLOTLIB/01_Notebooks/01_Visualization_I_Matplotlib.ipynb
18_VISUALIZACION/01_MATPLOTLIB/01_Notebooks/03_Visualization_I_Matplotlib_Ejercicios_Soluciones.ipynb
18_VISUALIZACION/01_MATPLOTLIB/01_Notebooks/02_Visualization_I_Matplotlib_Ejercicios.ipynb
